* {
    margin: 0px;
    padding: 0px;
    filter: drop-shadow(4px 6px 10px #585858);
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    font-weight: bold;
}

body, html {
    height: 100%;
}

.bg-img {
    background: url("https://image.shutterstock.com/image-photo/mixed-solid-letters-pile-closeup-260nw-1524153911.jpg");
    background-size: cover;
    filter: blur(8px);
    -webkit-filter: blur(8px);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.bg-text {
    background-color: rgb(0, 0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
}

header {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
}

header > h1 {
        background: -webkit-linear-gradient(45deg, #78ccf3, #f3ec78);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    border: none;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    text-align: center;
}

.hidden {
    display: none;
}

button {
    border: none;
    margin: 15px;
    padding: 15px;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
}